## Starter code to read from PostgresSQL for further analysis.

In [1]:
!pip install psycopg2-binary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 58.3 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5

## Connection credentials dictionary is created.

In [2]:

import psycopg2 as posgresSql
# define credentials 
credentials = {'POSTGRES_ADDRESS' : 'database-1.c1bq6ytovfoa.us-west-2.rds.amazonaws.com', # change to your endpoint
               'POSTGRES_PORT' : '5432', # change to your port
               'POSTGRES_USERNAME' : 'postgres', # change to your username
               'POSTGRES_PASSWORD' : 'postgres', # change to your password
               'POSTGRES_DBNAME' : 'postgres'} # change to your db name


# create connection and cursor    
conn = posgresSql.connect(host=credentials['POSTGRES_ADDRESS'],
                  database=credentials['POSTGRES_DBNAME'],
                  user=credentials['POSTGRES_USERNAME'],
                  password=credentials['POSTGRES_PASSWORD'],
                  port=credentials['POSTGRES_PORT'])

table_conn = conn.cursor()

In [5]:

import pandas as pd

# tablename = 'CountryDemographics'
# query = f"""SELECT * FROM {tablename};"""

query = """SELECT * FROM CountryDemographics;"""

table_conn.execute(query=query)
country_df = pd.DataFrame(table_conn.fetchall(), columns= ['country_name','country_code','latitude','longitude','GDP'])

In [6]:
country_df

      country_name country_code   latitude   longitude           GDP
0          Austria           AT  47.516231   14.550072  3.711230e+11
1        Australia           AU -25.274398  133.775136  1.058007e+12
2       Bangladesh           BD  23.684994   90.356331  1.645154e+11
3          Belgium           BE  50.503887    4.469936  4.491997e+11
4     Burkina Faso           BF  12.238333   -1.561593  1.044752e+10
..             ...          ...        ...         ...           ...
315  United States           US  37.090240  -95.712891  1.590805e+13
316        Uruguay           UY -32.522779  -55.765835  3.968593e+10
317   South Africa           ZA -30.559482   22.937506  3.242687e+11
318         Zambia           ZM -13.133897   27.849332  1.698932e+10
319       Zimbabwe           ZW -19.015438   29.154857  1.398755e+10

[320 rows x 5 columns]