In [1]:
import pandas as pd
df = pd.DataFrame

In [2]:
data_file = "Resources/livwell_lin_interpolated.csv"
livewell_etl_df = pd.read_csv(data_file)
livewell_etl_df

,country_name,country_code,year,region_num_harmonized,region_name_harmonized,SurveyId,interview_year_mean,interview_month_mean,CMC_interview_mean,DM_age_15.19_p,...,EI_computer_p,EI_computer_p_se,DP_decide_no_contraception_p,DP_decide_no_contraception_p_se,EI_internet_day_p,EI_internet_day_p_se,EI_internet_week_p,EI_internet_week_p_se,EI_mobile_p,EI_mobile_p_se
0,Colombia,COL,1990,1,Atlantica,CO1990DHS,1990.0,7.0,1086.75,21.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Colombia,COL,1990,2,Oriental,CO1990DHS,1990.0,7.0,1086.93,22.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Colombia,COL,1990,3,Central,CO1990DHS,1990.0,7.0,1086.76,19.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Colombia,COL,1990,4,Pacifica,CO1990DHS,1990.0,7.0,1086.59,21.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Colombia,COL,1990,5,Bogota,CO1990DHS,1990.0,5.0,1085.41,19.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7365,Senegal,SEN,2019,4,Kolda + Ziguinchor + Sedhiou (South),SN2019DHS,2019.0,8.0,1435.61,24.41,...,10.67,2.09,76.89,2.18,13.12,1.77,23.30,2.13,55.54,2.54
7366,Sierra Leone,SLE,2019,1,Eastern,SL2019DHS,2019.0,7.0,1434.66,21.11,...,2.06,0.34,44.78,2.50,3.01,0.50,5.56,0.62,33.34,1.65
7367,Sierra Leone,SLE,2019,2,Northern + North Western,SL2019DHS,2019.0,7.0,1434.77,22.77,...,2.36,0.30,52.67,2.31,3.43,0.41,5.44,0.54,34.53,1.36
7368,Sierra Leone,SLE,2019,3,Southern,SL2019DHS,2019.0,7.0,1434.62,21.73,...,2.33,0.36,63.38,2.04,5.50,0.50,7.19,0.66,32.44,1.54
7369,Sierra Leone,SLE,2019,4,Western,SL2019DHS,2019.0,6.0,1434.14,21.76,...,14.71,1.37,48.40,3.45,20.95,1.68,30.15,1.96,70.46,1.44

In [3]:
indic_df = livewell_etl_df[['DV_phys_or_sex_partner_p', 'DM_age_mean', 'DM_age_marr_mean', 'ED_educ_years_mean', 'FF_TFR', 'country_name']]
indic_df

,DV_phys_or_sex_partner_p,DM_age_mean,DM_age_marr_mean,ED_educ_years_mean,FF_TFR,country_name
0,NaN,27.78,18.58,6.29,3.575,Colombia
1,NaN,28.67,20.28,6.16,2.752,Colombia
2,NaN,28.89,19.96,6.40,2.546,Colombia
3,NaN,28.52,19.80,6.79,2.835,Colombia
4,NaN,28.59,20.34,8.79,2.447,Colombia
...,...,...,...,...,...,...
7365,21.19,27.52,18.29,4.35,5.318,Senegal
7366,38.76,29.29,18.30,3.99,4.649,Sierra Leone
7367,59.93,28.82,18.84,3.56,4.460,Sierra Leone
7368,40.98,29.31,19.15,3.88,4.970,Sierra Leone
7369,59.51,27.56,19.80,7.24,2.931,Sierra Leone

In [4]:
indic_df.groupby('country_name')
indic_df = indic_df.groupby('country_name')

In [5]:
#indic_df = indic_df.groupby('country_name')

In [6]:
clean_indic_df = indic_df.first()
clean_indic_df

,DV_phys_or_sex_partner_p,DM_age_mean,DM_age_marr_mean,ED_educ_years_mean,FF_TFR
country_name,,,,,
Armenia,28.23,30.71,19.99,10.85,2.038
Bangladesh,49.57,25.22,14.24,2.72,3.469
Benin,24.22,29.15,17.08,0.90,6.771
Bolivia,NaN,29.14,20.55,6.90,5.326
Burkina Faso,17.08,30.69,17.19,0.97,6.683
Burundi,27.03,26.09,20.83,7.69,4.240
Cambodia,12.29,29.46,18.98,2.63,4.302
Cameroon,47.72,27.39,19.53,8.00,3.475
Colombia,34.24,27.78,18.58,6.29,3.575
Congo Democratic Republic,56.63,27.62,19.57,9.32,3.731
Cote d'Ivoire,20.42,27.81,18.67,2.19,6.003
Egypt,14.07,23.53,20.29,4.68,4.369
Ethiopia,24.66,28.54,15.34,1.09,5.344
Gabon,46.75,27.31,19.11,7.76,3.413
Ghana,15.12,28.12,18.13,5.67,5.363
Guatemala,20.60,28.69,19.57,6.47,3.912
Guinea,NaN,29.65,16.15,1.10,5.539
Haiti,24.88,27.82,20.22,5.63,3.855
Honduras,20.72,27.99,17.92,7.02,3.138
India,35.36,22.94,15.34,1.91,2.363
Indonesia,NaN,19.75,19.08,4.57,1.903
Jordan,12.89,17.90,19.84,4.95,4.112
Kenya,31.38,26.50,19.33,8.23,3.402
Lesotho,NaN,28.18,18.49,7.46,3.412
Liberia,38.86,28.57,18.66,5.14,4.115
Madagascar,NaN,28.06,18.57,5.00,5.688
Malawi,27.60,27.37,17.24,4.69,6.738
Maldives,11.55,20.32,19.86,4.89,2.128
Mali,32.48,28.95,15.36,0.69,6.888
Morocco,NaN,28.32,18.97,1.12,5.008
Mozambique,17.02,29.33,16.12,1.46,5.389
Namibia,32.26,27.37,20.86,7.26,4.949
Nepal,NaN,24.36,16.82,1.06,4.111
Nicaragua,NaN,27.82,17.02,5.05,4.280
Niger,NaN,27.91,14.43,0.38,6.702
Nigeria,26.01,27.68,17.28,5.01,5.704
Pakistan,17.30,23.06,18.35,1.27,5.046
Peru,40.95,28.99,18.52,5.55,4.969
Philippines,18.78,29.98,21.41,9.89,3.752
Rwanda,46.33,26.95,21.53,6.06,4.369
Senegal,20.98,27.73,17.75,3.33,5.546
Sierra Leone,39.79,29.14,17.11,1.83,5.623
South Africa,18.12,30.23,22.40,9.35,2.293
Tajikistan,14.84,29.80,20.26,10.60,3.384
Tanzania,69.06,29.40,17.69,4.57,5.840
Timor-Leste,22.51,27.98,19.77,5.84,5.570
Togo,18.67,27.61,19.78,4.60,2.717
Turkey,NaN,25.48,19.79,4.68,1.879
Uganda,47.78,26.82,17.24,5.33,6.277
Vietnam,NaN,23.56,19.75,4.93,2.702
Zambia,45.38,27.26,17.01,4.94,6.842
Zimbabwe,30.32,27.69,17.98,6.12,4.493

In [7]:
clean_indic_df.to_csv('indic.csv', index=False)

In [8]:
data_file = "Resources/livwell_lin_interpolated.csv"
livewell_etl_df = pd.read_csv(data_file)
livewell_etl_df

,country_name,country_code,year,region_num_harmonized,region_name_harmonized,SurveyId,interview_year_mean,interview_month_mean,CMC_interview_mean,DM_age_15.19_p,...,EI_computer_p,EI_computer_p_se,DP_decide_no_contraception_p,DP_decide_no_contraception_p_se,EI_internet_day_p,EI_internet_day_p_se,EI_internet_week_p,EI_internet_week_p_se,EI_mobile_p,EI_mobile_p_se
0,Colombia,COL,1990,1,Atlantica,CO1990DHS,1990.0,7.0,1086.75,21.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Colombia,COL,1990,2,Oriental,CO1990DHS,1990.0,7.0,1086.93,22.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Colombia,COL,1990,3,Central,CO1990DHS,1990.0,7.0,1086.76,19.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Colombia,COL,1990,4,Pacifica,CO1990DHS,1990.0,7.0,1086.59,21.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Colombia,COL,1990,5,Bogota,CO1990DHS,1990.0,5.0,1085.41,19.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7365,Senegal,SEN,2019,4,Kolda + Ziguinchor + Sedhiou (South),SN2019DHS,2019.0,8.0,1435.61,24.41,...,10.67,2.09,76.89,2.18,13.12,1.77,23.30,2.13,55.54,2.54
7366,Sierra Leone,SLE,2019,1,Eastern,SL2019DHS,2019.0,7.0,1434.66,21.11,...,2.06,0.34,44.78,2.50,3.01,0.50,5.56,0.62,33.34,1.65
7367,Sierra Leone,SLE,2019,2,Northern + North Western,SL2019DHS,2019.0,7.0,1434.77,22.77,...,2.36,0.30,52.67,2.31,3.43,0.41,5.44,0.54,34.53,1.36
7368,Sierra Leone,SLE,2019,3,Southern,SL2019DHS,2019.0,7.0,1434.62,21.73,...,2.33,0.36,63.38,2.04,5.50,0.50,7.19,0.66,32.44,1.54
7369,Sierra Leone,SLE,2019,4,Western,SL2019DHS,2019.0,6.0,1434.14,21.76,...,14.71,1.37,48.40,3.45,20.95,1.68,30.15,1.96,70.46,1.44